<!--nav bar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a\ class="navbar-brand" href="#"><span><img src="/img/logo lastmingig.png" class="mx-auto" style="width: 75px;"
        alt="hand"></span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="search/">Talent</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact/">Work</a>
        </li>

      </ul>
    </div>
</nav>

<div id="home">

  <!--animated clock-->
  <br>
  <div class="row justify-content-md-center">
    <img src="/img/LOGO.png" class="mx-auto" style="width: 100px;" alt="logo">
  </div>


  <!--animated type text-->
  <div class="animate">
    <p>LAST MIN GIG is for <span class="typed-text"></span><span class="cursor">&nbsp;</span></p>
  </div>



  <!--circle with text-->
  <ul class="ch-grid">
    <li>
      <div class="ch-item ch-img-2">
        <div class="ch-info">
          <br>
          <br>
          <br>
          <h6>What is Last Min Gig?</h6>
          <p>Last Min Gig links talented people to work and employers to talented people quickly. </p>
        </div>
      </div>
    </li>
    <li>
      <div class="ch-item ch-img-2">
        <div class="ch-info">
          <br>
          <br>
          <br>
          <h6>Looking for talent last min?</h6>
          <p>Click on talent to find a list of people avaliable in your city today! <a href="/search">TALENT</a></p>
        </div>
      </div>
    </li>
    <li>
      <div class="ch-item ch-img-3">
        <div class="ch-info">
          <br>
          <br>
          <br>
          <h6>Need to find work?</h6>
          <p>Click on work to find a form to submit your talents today!<a href="/contact">WORK</a></p>
        </div>
      </div>
    </li>
  </ul>


  <!--hand image-->

  <div class="mx-auto" style="width: 7px;">
    <img src="/img/hand.png" alt="hand">
  </div>


  <!--animated text-->
  <div class="mx-auto" style="width: 400px;">
    <div class="text-h1">
      <h1>Finding talent made easy - Finding work made convenient.</h1>
    </div>
  </div>

  <!--script-->
  <script src="/js/index.js"></script>