<div id="home">

  <br>
  <br>
  <div class="mx-auto" style="width: 100px;">
    <div class="clock"></div>
    <br>
  </div>

  <div class="container">
    <p>LAST MIN GIG is for <span class="typed-text"></span><span class="cursor">&nbsp;</span></p>
  </div>

  <div class="container">
    <h1>Finding talent made easy, Finding work made convenient.</h1>
  </div>


  <div class="container">

    <div class="jumbotron">
      <h1>WHAT ARE YOU LOOKING FOR?</h1>

      <div class="center">

        <div class="row">

          <div class="col">
            <button type="button" class="btn btn-secondary" href="/">TALENT</button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-secondary" href="">WORK</button>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
<script src="/js/index.js"></script>