<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Last Min Gig</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="search/">Talent</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contact/">Work</a>
      </li>
     
    </ul>
  </div>
</nav>

<div id="home">

  <br>
  <br>
  <div class="mx-auto" style="width: 100px;">
    <div class="clock"></div>
    <br>
  </div>

  <div class="container-custom">
    <p>LAST MIN GIG is for <span class="typed-text"></span><span class="cursor">&nbsp;</span></p>
  </div>

  <div class="container-custom">
    <h1>Finding talent made easy, Finding work made convenient.</h1>
  </div>


  <div class="container-custom">

    <div class="jumbotron">
      <h1>WHAT ARE YOU LOOKING FOR?</h1>

      <div class="center">

        <div class="row">

          <div class="col">
            <button type="button" class="btn btn-secondary" href="/">TALENT</button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-secondary" href="">WORK</button>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
<script src="/js/index.js"></script>