<!--navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a\ class="navbar-brand" href="#"><span><img src="/img/logo lastmingig.png" class="mx-auto" style="width: 75px;"
        alt="hand"></span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Talent</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../contact/">Work</a>
        </li>

      </ul>
    </div>
</nav>

<div id="home">
  <!--clock-->
  <br>
  <div class="container">
    <br>
    <div class="rounded mx-auto d-block" style="width: 100px;">
      <div class="clock"></div>
      <br>
    </div>
    <br>
    <!-- Alert Validate -->
    <div id="validate" class="alert alert-secondary text-center d-none" role="alert">
      please fill out all fields it must have a craft a location and a date
    </div>
    <!--form-->
    <form id="search-form">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xm-12">
          <div class="input-group mb-3">
            <input id="craft" type="text" class="form-control" placeholder="Search By Craft..." aria-label="craft">
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xm-12">
          <div class="input-group mb-3">
            <input id="location" type="text" class="form-control" placeholder="Location..." aria-label="location">
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xm-12">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="date">Date</label>
            </div>
            <select class="custom-select" id="date">
              <option value="today">Today</option>
              <option value="tomorrow">Tomorrow</option>
            </select>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xm-12">
          <button class="btn btn-secondary btn-block" id="search">Search <i class="fas fa-search"></i></button>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-12 col-xm-12">
          <button class="btn btn-secondary btn-block" id="all">All <i class="fas fa-stream"></i></button>
        </div>
      </div>
    </form>
    <section class="row" id="results" style="color: black;">

    </section>
  </div>

  <!-- Modal Search -->
  <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="name"></h5>
          <button type="button" id="close" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h3 id="name-body"></h3>
          <p id="craft-body"></p>
          <p id="location-body"></p>
          <p id="description-body"></p>
          <a id="email-body"></a>
        </div>
        <div class="modal-footer">
          <button type="button" id="close" class="btn btn-secondary">Close</button>
        </div>
      </div>
    </div>
  </div>
  <p><img src="/img/man.png" class="img"></p>

</div>
<script src="/js/search.js"></script>