.list-group-item {
  line-height: 2.5;
}

@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext');


body{
    font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 500;
	background-color:  #716fc9;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear; 
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
} 
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  .container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  .container p {
	font-size: 3rem;
	padding: 0.5rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	text-align: center;
	overflow: hidden;
  }
  .container p span.typed-text {
	font-weight: normal;
	color:whitesmoke;
  }
  .container p span.cursor {
	display: inline-block;
	background-color: #ccc;
	margin-left: 0.1rem;
	width: 3px;
	animation: blink 1s infinite;
  }
  .container p span.cursor.typing {
	animation: none;
  }
  @keyframes blink {
	0%  { background-color: #ccc; }
	49% { background-color: #ccc; }
	50% { background-color: transparent; }
	99% { background-color: transparent; }
	100%  { background-color: #ccc; }
  }




.h1 {
	color:whitesmoke;	
}



  
  .clock {
	position:relative;
	transform:scale(2);
	border-radius:50%;
	border:2px solid; 
	width:50px;
	height:50px;
	position:relative;
  }
  
  .clock:after {
	position:absolute;
	width:0px;
	height:20px;
	display:block;
	border-left:2px solid #000;
	content:'';
	left:22px;
	top:4px;
	animation-duration: 1s;
  }
  
  .clock:before {
	position:absolute;
	width:0px;
	height:20px;
	display:block;
	border-left:2px solid #000;
	content:'';
	left:22px;
	top:5px;
	animation-duration: 60s;
  }
  
  .clock:before,.clock:after {
	transform-origin: bottom;
	animation-name: dial;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
  }
  
  @keyframes dial {
	  0%   {transform: rotate(0deg);}
	  100% {transform: rotate(360deg);}
  }